@using Restaurants.Models;
@using System.Collections.Generic;
@{
  Layout = "_Layout";
}
<form action='/reviews/@Model[0].GetId()/edited' method="post">
    <label for='reviewStar'>Rate This Restaurant (One to Five Stars)</label><br>
    <label for='reviewStar'>1</label>
    <input type="radio" name="reviewStar" value="1">
    <label for='reviewStar'>2</label>
    <input type="radio" name="reviewStar" value="2">
    <label for='reviewStar'>3</label>
    <input type="radio" name="reviewStar" value="3">
    <label for='reviewStar'>4</label>
    <input type="radio" name="reviewStar" value="4">
    <label for='reviewStar'>5</label>
    <input type="radio" name="reviewStar" value="5"><br>
    <label for='reviewDescription'>Enter your Review:</label><br>
    <textarea id="reviewBox" name="reviewDescription"></textarea><br>
    <button type='submit'>Review This Restaurant</button>
</form>
<br>
<h3>Your Current Review:</h3>
@foreach(ReviewClass review in @Model)
{
<div class="review">
    <p class="reviewText">Name:</p>
    <p class="reviewAnswer"> @review.GetName()</p>
    <p class="reviewText">Stars:</p>
    @if (review.GetStars() == 1)
    {
    <p class="reviewAnswer"><img src="~/img/star.png"></p>
    }
    @if (review.GetStars() == 2)
    {
    <p class="reviewAnswer"><img src="~/img/star.png"><img src="~/img/star.png"></p>
    }
    @if (review.GetStars() == 3)
    {
    <p class="reviewAnswer"><img src="~/img/star.png"><img src="~/img/star.png"><img src="~/img/star.png"></p>
    }
    @if (review.GetStars() == 4)
    {
    <p class="reviewAnswer"><img src="~/img/star.png"><img src="~/img/star.png"><img src="~/img/star.png"><img src="~/img/star.png"></p>
    }
    @if (review.GetStars() == 5)
    {
    <p class="reviewAnswer"><img src="~/img/star.png"><img src="~/img/star.png"><img src="~/img/star.png"><img src="~/img/star.png"><img src="~/img/star.png"></p>
    }
    <p class="reviewText">Review:</p>
    <p class="reviewAnswer"> @review.GetDescription()</p>
</div>
}
    